@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* border: solid 1px red; */
}

body {
  background-color: rgb(80, 80, 189);
}

.container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  background-color: #fff;
  box-shadow: 0rem 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.15);
  height: 26rem;
  width: 44rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  align-items: center;
  gap: 2rem;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title-text {
  color: #fff;
  font-size: 2.2rem;
}

.score {
  font-size: 1.4rem;
  color: #fff;
}

img {
  width: 3rem;
  height: 3rem;
  padding: 2rem;
}

.rick {
  background-color: rgba(238, 133, 238, 0.2);
  border-radius: 100%;
}

.rick:hover {
  cursor: pointer;
}

.choice-box {
  display: flex;
  gap: 2rem;
}

.who-won {
  display: none;
  background-color: burlywood;
  border-radius: 10rem;
  padding: 0.2rem 0;
  width: 80%;
  margin-top: 5rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-style {
  outline: none;
  border: thin;
  border-radius: 50%;
  background-color: rgba(238, 133, 238, 0.2);
  transition: 100ms;
}

.btn-style:hover {
  cursor: pointer;
  background-color: rgba(252, 70, 252, 0.2);
  transform: scale(1.1);
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93%;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
}

#weapon {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}
#weapon2 {
  display: none;
  font-size: 1.8rem;
  display: none;
  font-weight: 600;
}
